src/main/resources/net/javacrumbs/springws/test/xml/spring-ws-test.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.mycompany.com/schema/myns"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:beans="http://www.springframework.org/schema/beans"
    targetNamespace="http://net.javacrumbs/schema/spring-ws-test"
    elementFormDefault="qualified"
    attributeFormDefault="unqualified" xmlns:Q1="http://net.javacrumbs/schema/spring-ws-test">

   <xsd:import namespace="http://www.springframework.org/schema/beans"/>

   <xsd:element name="mock-message-sender">
      <xsd:complexType>
      	<xsd:complexContent>
      		<xsd:extension base="beans:identifiedType">
      			<xsd:sequence>
      				<xsd:element name="namespaces" type="xsd:string" minOccurs="0"/>
      				<xsd:element name="response-xpaths"	minOccurs="0" type="xsd:string"/>
      				<xsd:element name="control-request-xpaths" type="xsd:string" minOccurs="0"/>
      				<xsd:element name="request-validation-schemas" type="xsd:string" minOccurs="0"/>
      			</xsd:sequence>
      		</xsd:extension>
      	</xsd:complexContent>
      </xsd:complexType>
   </xsd:element>



</xsd:schema>